* text=auto
*.py text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
